<!doctype html>
<html lang="en">

<head>
  <title>Hesap Makinesi</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
  <header>
    <!-- place navbar here -->
  </header>
  <main>
    <!-- ========== bs5formrid ========== -->

<div class="container">
    <form method="post">
        <div class="mb-3 row">
            <label for="inputName" class="col-4 col-form-label">Birinci Sayı</label>
            <div class="col-8">
                <input type="text" class="form-control" name="birinciSayi" placeholder="Birinci sayıyı giriniz">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputName" class="col-4 col-form-label">İkinci Sayı</label>
            <div class="col-8">
                <input type="text" class="form-control" name="ikinciSayi" placeholder="İkinci sayıyı giriniz">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputName" class="col-4 col-form-label">Sonuç</label>
            <div class="col-8">
                <input type="text" class="form-control" name="txtSonuc" value="<%if(typeof(txtSonuc)!='undefined'){console.log(txtSonuc)%><%=txtSonuc%><%}%>">

                

            </div>
        </div>
      
        <div class="mb-3 row">
            <div class="offset-sm-4 col-sm-8">
                <button type="submit" class="btn btn-primary">HESAPLA</button>
            </div>
        </div>
    </form>
</div>
  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>

 
</body>

</html>